html {
  scroll-padding-top: 152px;
}

h1 {
	text-align: center;
}

header {
	padding: 5px 5px 16px 5px;
}

header ul {
	display: flex;
	justify-content: space-around;
	margin: 0px;
	padding: 0px;
}

header ul.nav a {
	padding: 0px;
}

header hr {
	margin: 8px 0px 8px 0px;
}

main {
	margin: 30px;
	padding: 10px 30px 30px 30px;
}

main nav {
	position: sticky;
	top: 152px;
	border-radius: 15px 15px 0px 0px;
	float: left;
	min-width: 155px;
	width: 15%;
	margin: 0px;
	margin-right: 15px;
	padding: 5px;
	border: solid 1px goldenrod;
	border-bottom: none;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

main ul {
	margin: 0px;
	padding: 0px;
}

main li {
	margin-bottom: 20px;
	list-style-type: none;
	text-align: left;
}

main li:last-child {
	margin-bottom: 0px;
}

main .notNav {
	margin-top: 10px;
}

.carousel {
	width: calc(100% + 60px);
	height: 300px;
	margin: -10px -30px 0px -30px;
}

.gte768 {
	display: block;
}

.lt768 {
	display: none;
}

#indexBody iframe {
	height: 300px;
}

#catalogBody main .notNav {
	column-count: 1;
}

fieldset {
	padding: 0px 50px 30px 50px;
	margin: 0px 30px;
}

textarea {
	width: 566px;
}

textarea:focus {
	width: 100%;
}

input[type="submit"] {
	width: 566px;
}

#ratingSubmitBody main, #stockInfoBody main {
	padding: 30px 112px 30px 112px;
}

@media only screen and (max-width: 850px) {
	textarea {
		width: 100%;
	}

	input[type="submit"] {
		width: 100%;
	}
}

#aboutBody main .notNav {
	column-count: 1;
}

#soundTrack {
	border-radius: 0px 15px 15px 0px;
}

#WMUVid {
	width: 700px;
	height: 393.75px;
	border-radius: 0px 15px 15px 0px;
}

@media only screen and (max-width: 990px) {
	.videoWrap {
 		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}

	#WMUVid {
		position: absolute;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	}
}