* {
	box-sizing: border-box;
}

body, textarea, input[type="submit"] {
	font-family: Nunito, Calibri, sans-serif;
}

body {
	margin: 0px;
	min-width: 300px;
}

#indexBody {
	background: url(../images/background.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#catalogBody {
	background: url(../images/background2.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#dealsBody {
	background: url(../images/background3.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#rateUsBody, #ratingSubmitBody {
	background: url(../images/background4.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#aboutBody {
	background: url(../images/background5.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

#stockInfoBody {
	background: url(../images/background6.jpg) repeat;
	background-attachment: fixed;
	background-size: 100%;
}

h1 {
	color: darkgoldenrod;
	text-shadow: 0px 0px 2px darkgrey;
	font-family: Satisfy, SignPainter, sans-serif;
	font-size: 56px;
	margin-bottom: 10px;
	margin-top: 10px;
}

header {
	position: sticky;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	border-radius: 0px 0px 15px 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

header ul.nav a:hover, ul.nav a:link {
	background-color: rgba(0,0,0,0);
}

.aboveFooter {
	min-height: calc(100vh - 51px);
}

footer {
	background-color: rgba(255,255,255,0.9);
	border-radius: 15px 15px 0px 0px;
	padding: 10px;
}

footer p {
	margin: 0px;
}

h2, dt, .deal, legend, thead th, #rateUsBody input[type="number"], input[type="submit"], button {
	color: firebrick;
}

h3, .inLine {
	display: inline;
}

h2 {
	font-size: 36px;
}

#indexBody h3, #rateUsBody label, input[type="submit"] {
	font-size: 24px;
}

nav, p, main a, tbody, input, textarea, #stockInfoBody label, button {
	font-size: 22px;
}

dt, .deal, thead th, legend, label, input[type="submit"] {
	font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

input[type="submit"]:hover, a:hover {
	cursor: pointer;
}

a, a:link, a:visited {
	color: indianred;
}

a, #loginDiv button {
	transition: color 0.3s;
}

a {
	outline-color: goldenrod;
}

a:hover, input[type="submit"]:hover, #loginDiv button:hover {
	color: goldenrod;
}

a:active, input[type="submit"]:active, #loginDiv button:active {
	color: darkgoldenrod;
}

main {
	border-radius: 15px;
	background-color: rgba(255,255,255,0.9);
}

.carousel {
	overflow: hidden;
}

.carouselImg {
	min-width: 100%;
	min-height: 300px;
	border-radius: 15px 15px 0px 0px;
}

.carousel-indicators {
	filter: brightness(15%);
	z-index: 1;
}

section#aboutUs {
	column-count: auto;
	column-rule: solid 1px goldenrod;
	column-gap: 60px;
	column-width: 450px;
}

section#aboutUs h2 {
	column-span: all;
}

section#aboutUs p {
	margin-top: 0px;
	text-align: justify;
}


#contTimeBox p {
	white-space: nowrap;
}

#contTimeBox h2 {
	font-size: 28px;
}

#time {
	text-align: right;
}

#indexBody iframe {
	border: 0;
	width: 100%;
	border-radius: 15px;
}

dl {
	column-count: auto;
	column-width: 350px;
	column-gap: 15px;
	margin: 0px;
}

dt {
	font-size: 48px;
}

dd {
	margin: 0px;
	font-size: 24px;
}

div.product, dd {
	display: flex;
	flex-direction: column;
	text-align: center;
}

div.product {
	background-color: white;
	border-radius: 15px; 
	break-inside: avoid;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin-bottom: 15px;
}

div.product a {
	position: relative;
	float: left;
	height: 200px;
	min-width: 200px;
	margin: 5px 0px 5px 0px;
}

div.product img {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	max-height: 200px;
	max-width: 200px;
}

span.cost {
	width: calc(100% + 10px);
	background-color: goldenrod;
	color: white;
	margin: 5px -5px -5px -5px;
	border-radius: 0px 0px 15px 15px;
	padding: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.deal {
	font-size: 36px;
	animation: dealAnim 1s ease 0s infinite alternate;
}

@keyframes dealAnim {
	to {
		text-shadow: -0.5px 0.5px 2px goldenrod;
	}
}

td, th {
	padding: 12px;
	text-align: center;
}

thead th {
	font-size: 28px;
	padding-top: 0px;
	padding-bottom: 6px;
}

thead th, [rowspan], tr.bBorder {
	border-bottom: solid 2px goldenrod;
}

thead th:first-child {
	border-bottom: none;
}

[rowspan].lastSpans {
	border-bottom: none;
}

input, textarea, button {
	background-color: transparent;
	margin-bottom: 10px;
}

fieldset {
	border: solid 2px goldenrod;
	border-radius: 15px;
}

legend {
	width: auto;
	border: none;
	font-size: 28px;
	margin-bottom: 20px;
	padding: 0px 5px 0px 5px; 
}

input {
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	transition: border 0.2s;
}

#rateUsBody input[type="number"] {
	border: solid 1px transparent;
	width: 85px;
	padding: 5px 8px;
}

textarea {
	border-radius: 15px;
	padding: 5px 15px;
	height: 100px;
	min-height: 100px;
	max-height: 200px;
	resize: vertical;
	margin-top: 5px;
	margin-bottom: 0px;
	transition: width 0.2s, border 0.2s;
	border: solid 1px lightgrey;
}

#rateUsBody input[type="number"]:hover, textarea:hover, #stockInfoBody input:hover {
	border: solid 1px darkgrey;
}

#rateUsBody input[type="number"]:focus, textarea:focus, #stockInfoBody input:focus {
	border: solid 1px goldenrod;
}

#charLeftP {
	font-size: 18px;
}

#cLeft {
	color: grey;
}

input[type="submit"], button {
	border: solid 1px transparent;
	margin-bottom: 0px;
}

input[type="submit"] {
	border-radius: 15px;
	margin-top: 5px;
	text-align: center;
	transition:  color 0.3s, border 0.3s;
}

input[type="submit"]:hover {
	border: solid 1px darkgoldenrod;
}

img#myPic {
	width: 180px; 
	border-radius: 15px 15px 0px 0px;
	margin-bottom: 20px;
}

#soundTrack {
	max-width: 100%;
	width: 700px;
	overflow: hidden;
}

#WMUVid, #soundTrack {
	border: none;
}

#stockInfoBody input {
	width: 180px;
	padding: 5px 10px;
	border: solid 1px lightgrey;
}

#stockInfoBody input[type="number"]::-webkit-outer-spin-button, #stockInfoBody input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#loginDiv, #prodStock, #passChangeDiv {
	display: none;
}

p#empName {
	color: firebrick; 
	margin-top: 10px; 
	margin-left: 30px;
}

#loginDiv #afterName {
	margin-left: 60px
}

p#prodStock {
	margin-left: 30px;
}

input#prodName, #passChangeDiv {
	margin-left: 8px;
}

#loginDiv a {
	display: block;
	margin: 20px 0px 6px 0px;
}

#loginDiv button {
	margin-top: 0px;
}

input, input:hover, input:focus, textarea:focus, audio, #WMUVid, button {
 	outline: none;
 }

.inLineBlock {
	display: inline-block;
}

.marginTop {
	margin-top: 40px;
}

.allignTop {
	vertical-align: text-top;
}

.center {
	text-align: center;
}

h3+p {
	margin-top: 0px;
}