* {
	box-sizing: border-box;
}

body {
	min-width: 970px;
	margin: 0px;
	font-family: Nunito, Calibri, sans-serif;
}

#indexBody {
	background: url(images/background.jpg) repeat;
	background-size: 100%;
}

#catalogBody {
	background: url(images/background2.jpg) repeat;
	background-size: 100%;
}

#dealsBody {
	background: url(images/background3.jpg) repeat;
	background-size: 100%;
}

#rateUsBody {
	background: url(images/background4.jpg) repeat;
	background-size: 100%;
}

#aboutBody {
	background: url(images/background5.jpg) repeat;
	background-size: 100%;
}

h1 {
	color: darkgoldenrod;
	text-shadow: 0px 0px 2px darkgrey;
	font-family: Satisfy, SignPainter, sans-serif;
	font-size: 56px;
	margin-bottom: 10px;
	margin-top: 10px;
}

header {
	position: sticky;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	border-radius: 0px 0px 15px 15px;
	padding: 5px 5px 16px 5px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

header ul {
	display: flex;
	justify-content: space-around;
	margin: 0px;
	padding: 0px;
}

header li {
	list-style-type: none;
}

#aboveFooter {
	min-height: calc(100vh - 50px);
}

footer {
	background-color: rgba(255,255,255,0.9);
	border-radius: 15px 15px 0px 0px;
	padding: 10px;
}

footer p {
	margin: 0px;
}

h2, dt, .deal, legend, thead th, input[type="number"], input[type="submit"] {
	color: firebrick;
}

h3, .inLine {
	display: inline;
}

h2 {
	font-size: 36px;
}

#indexBody h3, label, input[type="submit"] {
	font-size: 24px;
}

nav, p, main a, tbody, input, textarea {
	font-size: 22px;
}

dt, .deal, thead th, legend, label, input[type="submit"] {
	font-weight: bold;
}

a {
	outline-color: goldenrod;
}

a:link, a:visited {
	text-decoration: none;
	color: indianred;
}

a:hover, input[type="submit"]:hover {
	transition: 0.3s;
	color: goldenrod;
}

a:active, input[type="submit"]:active {
	color: darkgoldenrod;
}

main {
	border-radius: 15px;
	background-color: rgba(255,255,255,0.9);
	margin: 30px;
	padding: 10px 30px 30px 30px;
}

main nav {
	position: sticky;
	top: 171px;
	border-radius: 15px 15px 0px 0px;
	float: left;
	width: 15%;
	margin: 0px;
	margin-right: 15px;
	padding: 5px;
	border: solid 1px goldenrod;
	border-bottom: none;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

main ul {
	margin: 0px;
	padding: 0px;
}

main li {
	margin-bottom: 20px;
	list-style-type: none;
	text-align: left;
}

main li:last-child {
	margin-bottom: 0px;
}

main .notNav {
	margin-top: 10px;
}

.anchor {
    position: relative;
    top: -169px;
}

section#aboutUs {
	column-count: auto;
	column-rule: solid 1px goldenrod;
	column-gap: 60px;
	column-width: 401px;
}

section#aboutUs h2 {
	column-span: all;
}

section#aboutUs p {
	margin-top: 0px;
	text-align: justify;
}


#contTimeBox {
	/*position: relative;
	margin-bottom: 200px;*/
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

#contTimeBox h2 {
	font-size: 28px;
}

#time {
	text-align: right;
}

/*#cont {
	position: absolute;
	left: 0px;
	top: 0px;
}

#time {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
}*/

dl {
	margin: 0px;
	padding: 0px;
}

#catalogBody main nav {
	min-width: 100px;
}

#catalogBody main .notNav {
	column-count: 1;
}

#catalogBody main .notNav .cat {
	column-width: 300px;
	column-gap: 15px;
}

#catalogBody main hr {
	margin: 15px 0px 15px 0px;
}

dt {
	font-size: 48px;
}

dd {
	margin: 0px;
	font-size: 24px;
}

div.product, dd {
	display: flex;
	flex-direction: column;
	text-align: center;
}

div.product {
	background-color: white;
	border-radius: 15px; 
	break-inside: avoid;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	padding: 5px;
	transition: 0.3s;
}

div.product:last-child {
	margin-bottom: 0px;
}

div.product:hover {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

div.product a {
	position: relative;
	float: left;
	height: 200px;
	min-width: 200px;
	margin: 5px 0px 5px 0px;
}

div.product img {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	max-height: 200px;
	max-width: 200px;
}

span.cost {
	width: calc(100% + 10px);
	background-color: goldenrod;
	color: white;
	margin: 5px -5px -5px -5px;
	border-radius: 0px 0px 15px 15px;
	padding: 5px;
}

table {
	width: 100%;
	border-radius: 15px;
	border-collapse: collapse;
	text-align: center;
}

.deal {
	font-size: 36px;
}

td, th {
	padding: 12px;
}

thead th {
	font-size: 28px;
	padding-top: 0px;
	padding-bottom: 6px;
}

thead th, [rowspan], tr.bBorder {
	border-bottom: solid 2px goldenrod;
}

thead th:first-child {
	border-bottom: none;
}

[rowspan].lastSpans {
	border-bottom: none;
}

input, textarea {
	background-color: transparent;
	margin-bottom: 10px;
}

fieldset {
	border: solid 2px goldenrod;
	border-radius: 15px;
	padding: 0px 50px 30px 50px;
	margin: 0px 30px;
}

legend {
	font-size: 28px;
	margin-bottom: 20px;
}

input[type="number"] {
	border: solid 1px transparent;
	padding: 5px 8px;
	width: 78px;
	text-align: center;
	border-radius: 10px;
}

input[type="number"]:hover {
	outline: none;
	transition: 0.3s;
	border: solid 1px darkgrey;
}

input[type="number"]:focus {
	outline: none;
	transition: 0.3s;
	border: solid 1px goldenrod;
}

textarea {
	border-radius: 15px;
	font-family: Nunito, Calibri, sans-serif;
	padding: 5px 15px;
	width: 566px;
	height: 100px;
	min-height: 100px;
	max-height: 500px;
	resize: vertical;
	margin-top: 5px;
	transition: 0.2s;
}

textarea:focus {
	outline: none;
	width: 100%;
	border: solid 1px goldenrod;
}

input[type="submit"] {
	outline: none;
	border-radius: 15px;
	border: solid 1px transparent;
	font-family: Nunito, Calibri, sans-serif;
	margin-bottom: 0px;
	margin-top: 5px;
	width: 566px;
	text-align: center;
}

input[type="submit"]:hover {
	transition: 0.3s;
	cursor: pointer;
	border: solid 1px darkgoldenrod;
}

#aboutBody main nav {
	min-width: 130px;
}

#aboutBody main .notNav {
	column-count: 1;
}

img#myPic {
	width: 180px; 
	border-radius: 15px 15px 0px 0px;
}

audio {
	outline: none;
}

#WMUVid {
	outline: none;
	width: 700px;
	height: 393.75px;
	border-radius: 15px;
}

.inLineBlock {
	display: inline-block;
}

.padAddressTop {
	padding-top: 3px;
}

.marginTop {
	margin-top: 40px;
}

.marginLeft {
	margin-left: 40px;
}

.allignTop {
	vertical-align: text-top;
}

.center, nav {
	text-align: center;
}

h3+p {
	margin-top: 0px;
}